.header {
  width: 100%;
  height: 12.5rem;
  background-color: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 1.375rem;
  height: 2.25rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph {
  font-size: 40px;
  font-weight: 800;
  color: var(--blue);
  padding-left: 0.75rem;
  padding-bottom: 13px;
}

.paragraph > span {
  color: var(--purple);
}
